In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_excel('Data_15.xlsx')

In [ ]:
data

         Roll No.    Sem_1_i    Sem_1_e  ...    Sem_8_e  Sem_8_b  Sem_8_t
0       110102715  76.666667  66.813187  ...  42.307692        0     64.0
1      3610102715  84.358974  56.593407  ...  50.329670        0     72.5
2      3710102715  80.769231  69.230769  ...  58.351648        0     81.5
3      3810102715  81.025641  65.824176  ...  57.032967        0     79.4
4      3910102715  85.384615  73.296703  ...  55.824176        0     78.0
...           ...        ...        ...  ...        ...      ...      ...
1385  41896502715  83.846154  65.384615  ...  57.362637        0     80.9
1386  42096502715  87.435897  62.527473  ...  53.626374        0     74.2
1387  42196502715  65.384615  58.791209  ...  52.417582        0     73.4
1388  42296502715  78.717949  61.758242  ...  54.285714        0     78.1
1389  42496502715  64.102564  49.450549  ...  51.978022        0     73.1

[1390 rows x 33 columns]

In [ ]:
x=data[['Sem_1_e','Sem_2_e','Sem_3_e','Sem_4_e','Sem_5_e','Sem_6_e','Sem_7_i.1']]
y=data.iloc[:,32:33]

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

x=scaler.fit_transform(x)
y=scaler.fit_transform(y)

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.3)

**Linear Regression**

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,confusion_matrix
from sklearn import svm

model_linear=LinearRegression()
model_linear.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
Y_linear_pred=model_linear.predict(X_test)
rmse_test_linear = (np.sqrt(mean_squared_error(Y_test, Y_linear_pred)))

**Support Vector Machine**

In [ ]:
model_svr=svm.SVR()
model_svr.fit(X_train,Y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
Y_svr_pred=model_svr.predict(X_test)
rmse_test_svr = (np.sqrt(mean_squared_error(Y_test, Y_svr_pred)))

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor

regressor=RandomForestRegressor(n_estimators=100, criterion='mse')
regressor.fit( X_train, Y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
Y_forest_pred=regressor.predict(X_test)
rmse_test_forest=(np.sqrt(mean_squared_error(Y_test, Y_forest_pred)))

**Decision Tree**

In [ ]:
from sklearn.tree import DecisionTreeRegressor
tree=DecisionTreeRegressor()
tree.fit(X_train, Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
Y_dtree_pred=tree.predict(X_test)
rmse_test_dtree=(np.sqrt(mean_squared_error(Y_test, Y_dtree_pred)))

**Calculated errors of various models**

In [ ]:
print("Linear Regression: " ,rmse_test_linear)
print("Support Vector Machine: " ,rmse_test_svr)
print("Random Forest Regressor : " ,rmse_test_forest)
print("Decision Tree Regressor :" ,rmse_test_dtree )

Linear Regression:  0.6473670274110152
Support Vector Machine:  0.6633848331523821
Random Forest Regressor :  0.6970901156198128
Decision Tree Regressor : 0.9820882637185705